<div layout="row">
    <md-content class="content">
        <div class="info-line">
            <div class="title">Address</div>
            <div class="info">
                131, 1st Floor,
                <br>
                 Topiwala Centre,
                 <br>
                  Jawahar Nagar Road,<br>
                  Goregaon (W), Mumbai - 400062
            </div>
        </div>
        <div class="info-line">
            <div class="title">Tel.</div>
            <div class="info">
                <span> 022 - 28787701</span>
            </div>
            <div class="info">
                <span> 022 - 65787701</span>
            </div>
            <div class="info">
                <span> 022 - 40137701</span>
            </div>
        </div>
        <div class="info-line">
            <div class="title">Website</div>
            <div class="info">
                <span>www.tdsplc.in</span>
            </div>
        </div>
        <div class="info-line">
            <div class="title">Emails</div>
            <div class="info">
                <span>cacsplc@gmail.com</span>
            </div>
        </div>
    </md-content>
    <md-content style="margin-left:20px">
        <div class="info-line">
            <div class="title">Accounts</div>
            <div class="info">
                <span>Account Name : Professional Leaders Consultancy pvt.ltd.
                    <br> Account Number : 9938002100000675
                    <br> IFSC Code : PUNB0993800
                    <br> Type : Current
                    <br> Bank Name: Panjab National Bank
                    <br> Branch : Goregaon West
                </span>
            </div>
        </div>
    </md-content>

</div>