<div id="register-v2">
    <md-toolbar class="md-menu-toolbar md-whiteframe-1dp ng-scope _md md-default-theme _md-toolbar-transitions">
        <div class="top-row" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <div class="logo" layout="row" layout-align="start center">
                    <img src="/assets/images/logo.jpg" class="logo-image">
                </div>
            </div>
        </div>
    </md-toolbar>
    <div layout="row" layout-align="start" class="main">
        <div id="register-v2-intro" flex hide show-gt-sm>
            <div class="title">
                Welcome To TDSPLC
            </div>
            <div class="description">
                TIN FACILITATION CENTRE
                <md-list ng-cloak>

                    <md-list-item class="secondary-button-padding">
                        <p>Clicking the button to the right will fire the secondary action</p>
                        <md-button class="md-secondary" ng-click="doSecondaryAction($event)">More Info</md-button>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                        <p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
                        <md-button class="md-secondary" ng-click="doSecondaryAction($event)">More Info</md-button>
                    </md-list-item>



                </md-list>
            </div>
        </div>

        <div id="register-v2-form-wrapper" class="flex-scrollable md-whiteframe-8dp" layout="column" flex ms-scroll>
            <div id="register-v2-form">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>