<div class="page-layout carded left-sidenav single-scroll" id="users" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    

    <!-- CENTER -->
    <div class="center" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center">

            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="icon-person-plus" class="icon"></md-icon>
                </span>
                <span class="logo-text" translate="USERS.TITLE">Mailbox</span>
            </div>

        </div>
        <!-- / CONTENT HEADER -->
         <!-- CONTENT CARD -->
         <md-card>
                <md-card-content>
                    <div class="popup" dx-popup="vm.uploadPopupOptions">
                        <!-- <form action="your-action" ng-submit="onFormSubmit($event)">
                                            <div class="widget-container" style="margin-bottom: 10px; padding: 10px; border-bottom: 1px solid #ddd;">
                                                <div dx-radio-group="vm.radioFileUpload"></div>
                                            </div>
                                            <div class="widget-container" ng-if="vm.multiRequest">
                                                <div id="request-form" dx-form="vm.requestForm"></div>
                                            </div>
                                            <div class="widget-container" ng-if="!vm.multiRequest">
                                                    <div id="request-form" dx-form="vm.manualRequestForm"></div>
                                            </div>
                                            <div dx-button="vm.buttonOptions"></div>
                                        </form> -->
    
                        <div data-options="dxTemplate: { name:'info' }">
                            <div id="user-form" dx-form="vm.formOptionsItems"></div>
                            </br>
                            <div style="text-align:center">
                                <div dx-button="vm.buttonOptions"></div>
                            </div>
                        </div>
                    </div>
                    <div id="user-grid" dx-data-grid="vm.gridOptions"></div>
                </md-card-content>
            </md-card>
    
    </div>
    <!-- / CENTER -->

</div>