<div class="page-layout carded left-sidenav single-scroll" id="settings" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->


    <!-- CENTER -->
    <div class="center" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center">

            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="icon-email" class="icon"></md-icon>
                </span>
                <span class="logo-text" translate="DRIVERS.TITLE"></span>
            </div>

        </div>
        <!-- / CONTENT HEADER -->



        <!-- CONTENT TOOLBAR -->
        <!-- / CONTENT TOOLBAR -->
        <!-- CONTENT -->
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Settings</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <!-- / DEMO CONTENT -->
                <div id="settings-form" dx-form="vm.settingsForm"></div>
            </md-card-content>
            <md-card-footer>
                <div dx-button="vm.buttonOptions"></div>
            </md-card-footer>
        </md-card>
        <!-- / CONTENT -->

        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>