#layout-horizontal-navigation {

    #toolbar-navigation-container {
        z-index: 55;

        #toolbar {
            background: #FFF;
            border-bottom: solid 1px #e7e9ec;
            font-size: 13px;
            color: rgba(0,0,0,0.9);
            // height: $toolbarHeight;
            // min-height: $toolbarHeight;
            // max-height: $toolbarHeight;
            box-shadow: none;

            md-button {
                text-transform: none;                
                font-size: 13px;
            }
            .toolbar-separator {
                height: 40px;
                width: 1px;
                background: #fff;
                margin-right: 10px;
                display: none;
            }

            button.user-button.md-button.md-default-theme.md-ink-ripple {
                background: none;
                text-transform: none;
                font-size: 13px;
            }
            .top-row {

                .navigation-toggle {
                    height: $toolbarHeight;
                    border-right: 1px solid rgba(0, 0, 0, 0.12);

                    .md-button {
                        margin: 0;
                        width: $toolbarHeight;
                        height: $toolbarHeight;
                    }
                }

                .logo {
                    margin: 0 16px;

                    .logo-image {
                        display: block;
                        background: material-color('light-blue', '600');
                        width: 90px;
                        min-width: 32px;
                        height: 48px;
                        line-height: 32px;
                        text-align: center;
                        color: #FFFFFF;
                        font-size: 16px;
                        font-weight: 500;
                        border-radius: 2px;
                    }

                    .logo-text {
                       // color: rgba(0, 0, 0, 0.87);
                        margin-left: 16px;
                        font-size: 20px;
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}

// RESPONSIVE
@media only screen and (max-width: $layout-breakpoint-sm) {

    #layout-horizontal-navigation {

        #toolbar-navigation-container {
            // height: $toolbarHeight;
            // min-height: $toolbarHeight;
            // max-height: $toolbarHeight;

            #toolbar {
                padding: 0;
            }
        }
    }
}