<div class="page-layout carded left-sidenav single-scroll" id="customers" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    

    <!-- CENTER -->
    <div class="center" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center">

            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="icon-person-plus" class="icon"></md-icon>
                </span>
                <span class="logo-text" translate="CUSTOMERS.TITLE">Mailbox</span>
            </div>

        </div>
        <!-- / CONTENT HEADER -->
      
            <!-- CONTENT -->
            <md-card ms-scroll>
                <md-card-content>
                <!-- DEMO CONTENT -->
                    <div id="customer-grid" dx-data-grid="vm.gridOptions"></div>
                    <!-- / DEMO CONTENT -->
                </md-card-content>
            </md-card>
            <!-- / CONTENT -->


    </div>
    <!-- / CENTER -->

</div>